<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>day1</key>
	<dict>
		<key>run</key>
		<real>1.5</real>
		<key>walk</key>
		<integer>1</integer>
		<key>count</key>
		<integer>10</integer>
		<key>time</key>
		<integer>20</integer>
	</dict>
	<key>day2</key>
	<dict>
		<key>run</key>
		<integer>2</integer>
		<key>walk</key>
		<integer>2</integer>
		<key>count</key>
		<integer>4</integer>
		<key>time</key>
		<integer>16</integer>
	</dict>
</dict>
</plist>
